// Import SCSS files
@use '../scss/style.scss';

// Responsive globe container
.globe-container {
  @media (max-width: 767px) {
    min-height: 380px !important;
    padding: 10px !important;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    min-height: 420px !important;
    padding: 15px !important;
  }
}

